team-member {background: #fff ;}
.teammain{ text-align: center; padding-bottom: 60px !important;}
.teammain a {  color: #666;  text-decoration: none;}
.teammain h3 {
  color: #388ecb;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
.teammain p {
  margin: 0px;
  font-size:12px;
}