<div id="menu-overlay" [style.display]="menu ? 'flex': 'none'">    
  <ion-list class="menumain">
    <a class="clsicn" href="#" (click)='menu_overlay_close(event)'><img src="assets/icon/close-icon.png"></a>
  <ion-item>Home</ion-item>
  <ion-item>About</ion-item>
  <ion-item>Language</ion-item>
  <ion-item>Team</ion-item>
  <ion-item>Products</ion-item>
  <ion-item>Events</ion-item>
  <ion-item>Contact</ion-item>
</ion-list>
</div>
<ion-header class="headpsn">
  <div class="bgbanner">
   <img src="assets/bgimg1.jpg" class="bgimgpsn">
    <ion-grid class="overlay">
    <ion-row class="bannav">
      <ion-col col-10>
    <ion-searchbar [showCancelButton]="shouldShowCancel"></ion-searchbar>
    </ion-col>
<a href="#" class="menuicn" (click)="menu_overlay(event);"><img src="assets/icon/menu-icon.png"></a>
    </ion-row>
  </ion-grid>
  </div>   
</ion-header>
<ion-segment [(ngModel)]="tabcat" color="primary" class="tabcat">
      <ion-segment-button value="categories">
        Bussiness
      </ion-segment-button>
      <ion-segment-button value="new">
        Products
      </ion-segment-button>
      <ion-segment-button value="offers">
        Events
      </ion-segment-button>
    </ion-segment>
<ion-grid padding class="icncolmain">
<div [ngSwitch]="tabcat">
  <ion-row *ngSwitchCase="'categories'" ng-selected="selected"> 
   <ion-col col-4 *ngFor="let category of categories">
     <a (click)="bussiness_list(event, tid = category.tid);">
       <img src="{{category.category_icon}}" class="caticn">
       <h3>{{category.name}}</h3>
     </a>
   </ion-col> 
 </ion-row>
 
  <ion-row *ngSwitchCase="'new'">
   <ion-col col-4 *ngFor="let category_prod of categories_prod">
     <a (click)="bussiness_list(event, category_prod.tid);">
       <img src="{{category_prod.category_icon}}" class="caticn">
       <h3>{{category_prod.name}}</h3>
     </a>
   </ion-col> 

 </ion-row>
 <ion-row *ngSwitchCase="'offers'">
   <ion-col col-4 *ngFor="let category_event of categories_event">
     <a (click)="bussiness_list(event, category_event.tid);">
       <img src="{{category_event.category_icon}}" class="caticn">
       <h3>{{category_event.name}}</h3>
     </a>
   </ion-col> 

 </ion-row>
</div>
</ion-grid>
