<ion-content class="blubg">
  <header-search></header-search>
<ion-segment [(ngModel)]="tabcat" color="primary" class="tabcat">
      <ion-segment-button value="categories" translate>
        main.seg1
      </ion-segment-button>
      <ion-segment-button value="new" translate>
         main.seg2
      </ion-segment-button>
      <ion-segment-button value="offers" translate>
          main.seg3
      </ion-segment-button>
    </ion-segment>
    
<ion-grid padding class="icncolmain">
<div [ngSwitch]="tabcat">
  <ion-row *ngSwitchCase="'categories'" ng-selected="selected"> 
   <ion-col col-4 *ngFor="let category of categories">
     <a (click)="bussiness_list(event, tid = category.tid);">
       <img src="{{category.category_icon}}" class="caticn">
       <h3>{{category.name}}</h3>
     </a>
   </ion-col> 
 </ion-row>
  <ion-row *ngSwitchCase="'new'">
   <ion-col col-4 *ngFor="let category_prod of categories_prod">
     <a (click)="bussiness_list(event, category_prod.tid);">
       <img src="{{category_prod.category_icon}}" class="caticn">
       <h3>{{category_prod.name}}</h3>
     </a>
   </ion-col>
 </ion-row>
 <ion-row *ngSwitchCase="'offers'">
   <ion-col col-4 *ngFor="let category_event of categories_event">
     <a (click)="bussiness_list(event, category_event.tid);">
       <img src="{{category_event.category_icon}}" class="caticn">
       <h3>{{category_event.name}}</h3>
     </a>
   </ion-col> 

 </ion-row>
</div>
</ion-grid>
</ion-content>