<div id="menu-overlay" [style.display]="menu ? 'flex': 'none'">    
  <ion-list class="menumain">
    <a class="clsicn" href="#" (click)='menu_overlay_close(event)'><img src="assets/icon/close-icon.png"></a>
  <ion-item>Home</ion-item>
  <ion-item>About</ion-item>
  <ion-item>Language</ion-item>
  <ion-item>Team</ion-item>
  <ion-item>Products</ion-item>
  <ion-item>Events</ion-item>
  <ion-item>Contact</ion-item>
</ion-list>
</div><ion-header class="headdr">
  <ion-grid>
      <ion-row>
   <ion-col col-2 (click)="go_back();">
     <img src="assets/icon/back-icon.png" class="navlctn">
   </ion-col>
   <ion-col col-8 class="mylctiontext">
    Bussiness Detail
   </ion-col>
   <ion-col col-2 style="text-align: right;">
<a href="#" class="menuicn" (click)="menu_overlay(event);"><img src="assets/icon/menu-icon.png"></a>
   </ion-col>
 </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <div class="slider">
 <img src="assets/slide1.jpg">
</div>
<ion-segment [(ngModel)]="tabdet" color="primary" class="tabcat">
      <ion-segment-button value="detail">
        Details
      </ion-segment-button>
      <ion-segment-button value="product">
        Product
      </ion-segment-button>
      <ion-segment-button value="event">
        Events
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="tabdet">
  <ion-row *ngSwitchCase="'detail'" ng-selected="selected"> 
   <div class="bdetails" padding>
<h2>{{businessdetail.title}}</h2>
<div class="ratealike rtcntr">
          <ul>
            <li><img src="assets/icon/star-blue.png"></li>
             <li><img src="assets/icon/star-blue.png"></li>
              <li><img src="assets/icon/star-blue.png"></li>
               <li><img src="assets/icon/star-blue.png"></li>
                <li><img src="assets/icon/star-gray.png"></li>
                <li>(4.2)<li>
          </ul>
          <h5><b>{{businessdetail.comment_count}}</b> Ratings</h5>
          <span><img src="assets/icon/heart.png"> (5)</span>
        </div>  
        <p>{{businessdetail.body.und[0].value}}</p>
           <h3>{{businessdetail.field_address.und[0].thoroughfare}}, {{businessdetail.field_address.und[0].premise}},{{businessdetail.field_address.und[0].country}},{{businessdetail.field_address.und[0].postal_code}}</h3>
           <h4>Open Time :  <b>{{businessdetail.field_business_hours.und[0].value}}</b></h4>
           <ion-grid class="icnwtxtblk">
             <ion-row>
              <ion-col col-4>
                <a href="tel:{{businessdetail.field_business_phone.und[0].value}}">
                  <img src="assets/icon/phone-icon.png">
                  Call
                </a>
              </ion-col>
              <ion-col col-4>
                <a href="#">
                  <img src="assets/icon/dirc.png">
                  Directions
                </a>
              </ion-col>
              <ion-col col-4>
                <a href="#" (click)="feedback_page(event);">
                  <img src="assets/icon/message.png">
                  Rate us !
                </a>
              </ion-col>
            </ion-row>
           </ion-grid>
           
</div>
<ion-grid padding class="pddtp">
<h4 class="ctmfebk">Customer Feedback</h4>

<ion-row class="listmain events" *ngFor="let business of commentlist">
      <ion-col col-4>
        <img src="assets/listimg.jpg">
      </ion-col>
      <ion-col col-8>
        <h2>{{business.name}}</h2>
        <div class="ratealike">
          <ul >
            <li><img src="assets/icon/star-blue.png"></li>
             <li><img src="assets/icon/star-blue.png"></li>
              <li><img src="assets/icon/star-blue.png"></li>
               <li><img src="assets/icon/star-blue.png"></li>
                <li><img src="assets/icon/star-gray.png"></li>
                <li>({{business.rating}})<li>
          </ul>
        </div>
        <p>{{business.feedback}}</p>
      </ion-col>
    </ion-row>
  
   
    </ion-grid>
 </ion-row>
 
  <ion-row *ngSwitchCase="'product'">
     <ion-grid padding>
   <ion-row (click)='product_detail(event, business.nid);' *ngFor="let business of productlist">   
      <ion-col col-4 class="listmain prdcttpt">
        <img src="{{business.image}}">
        <h2>{{business.title}}</h2>
        <p>{{business.description}}</p>
        <h3 class="priclr">{{business.price}}</h3>
      </ion-col>
    
    </ion-row>
     </ion-grid>
 </ion-row>
 <ion-row *ngSwitchCase="'event'">
   <ion-grid padding>

   <ion-row class="listmain events"  *ngFor="let business of eventlist">
      <ion-col col-3 class="nppimg">
        <img src="{{business.image}}">
      </ion-col>
      <ion-col col-9 class="paddcustom">
        <h2>{{business.title}}</h2>
        <p>{{business.description}}</p>
      </ion-col>
    </ion-row>
   
    </ion-grid>
 </ion-row>
</div>
</ion-content>
