.pagecntmain {background-color: #388ECB;}
.contactpage{ text-align: left !important;}
.contactpage p {
  font-size: 13px;
  margin: 5px 0;
}
.contactpage h4{margin: 5px 0px;}
.contactpage .icnwtxtblk{ padding-top: 20px;}
.icnwtxtblk h4 {
      color: rgb(56, 142, 203);
}