<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <ion-grid>
    <ion-row><ion-col col-12 class="splash-top"><img src="assets/logo.png" class="logo"><img src="assets/spaceline.png" class="spaceline"></ion-col></ion-row>
    <ion-row><ion-col col-12 class="splash-bottom"><img src="assets/buildingimg.png" class="building"><h6>www.lebenonsmartapp.com</h6></ion-col> </ion-row>
  </ion-grid>
</div>

<ion-content padding class="home">
  <ion-grid>
    <ion-row><ion-col col-12 class="splash-top"><img src="assets/logo.png" class="logo"><img src="assets/spaceline.png" class="spaceline"></ion-col></ion-row>
 <ion-row><ion-col col-12 class="splash-top">
  <!--<ion-row>
  <ion-col col-12>
  <button ion-button class="btn-lsa" (click)="usemyloc(event);"> <img src="assets/icon/location-btn.png"  class="locicon"> USE MY LOCATION</button>
  </ion-col>
  </ion-row>
   <ion-row>
  <ion-col col-12>
    <h4 class="ortxt">or</h4>
     </ion-col>
  </ion-row>-->
  <form [formGroup]="getstartedform" name="userorign">
 <ion-list class="margtb">
  <ion-item class="select-box">
    <ion-label style="color:#fff !important" translate>home.selectcont</ion-label>
    <ion-select [formControl]="getstartedform.controls['country']">
      <ion-option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</ion-option>
    </ion-select>
  </ion-item>
  </ion-list>
   <ion-list  class="margtb">
  <ion-item class="select-box">
    <ion-label style="color:#fff !important" translate>home.selectlang</ion-label>
    <ion-select [formControl]="getstartedform.controls['language']" [(ngModel)]="language" (ngModelChange)="changeLocale(language)">
      <ion-option *ngFor="let language of languages" value="{{language.value}}">{{language.name}}</ion-option>
    </ion-select>
  </ion-item>
  </ion-list>
  </form>
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
  <button ion-button class="btn-lsa" (click)="get_started(event);" [disabled]="!getstartedform.valid"><ion-label translate> home.getstarted</ion-label></button>

  </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
