#custom-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  width:100%;
  background-color: #388ECB;
  text-align: center;
}
.splash-top {
    margin: 25px 0px 20px;
    position: relative;
    animation: pulse 1s linear forwards;
}
.spaceline {
  display: table;
  margin: -8px 0 0;
  position: relative;
}
img.logo {
    width: 35%;
    animation: animation 3100ms linear infinite both;
    animation-delay: 1s;
}
.splash-bottom {
    margin-top: 10vh;
    color: #ffffff;
}
img.building {
    width: 60%;
}
.home{
  background-color: #388ECB;
}

.home .splash-top{
    text-align: center;
}
.select-icon{
    color: #fff;
}
.select-box{
    background:rgba(255,255,255,0.1);
    color: #fff !important;
    border: 0px !important;
    height: 50px;
    border:1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.08);
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.08);
    font-size: 16px;
}
.btn-lsa{
    width: 100%;
    border: 0px !important;
    border-radius: 0px !important;
    transition: none;
    background:rgba(0,0,0,0.4);
    height: 50px;
    font-size: 18px;
    font-weight: 400;
}
.locicon {
  height: 25px;
  margin: 0 10px 0 0;
}
.select-icon .select-icon-inner {
    color: #fff !important;
}
.select-wp{
    border: 0px !important;
}
.ortxt {
  color: #fff;
  font-weight: 300;
  margin: 10px 0 20px;
}
@keyframes pulse {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}