.pagecntmain {background-color: #388ECB;}

.ntfmain .item {
  border-bottom: 1px solid #ddd;
  color: #388ecb;
  font-size: 13px;
}
.ntfmain .item .item-inner {  border-bottom: none; margin-left: 10px !important;}