.pagecntmain {background-color: #388ECB;}
.headdr{background-color:#112a3c;}
.navlctn, .menuicn img{ width: 25px;}
.menuicn img {
    margin: 7px 0 0;
    width: 25px;
}
img.navlctn {
    width: 30%;
    margin-top: 5px; 
}
ion-row.header-row.row {
    margin-top: 10px;
}
.mylctiontext {
  color: #fff;
  font-size: 16px;
  margin: 5px 0;
}