.headdr{background-color:#112a3c;}
.navlctn, .menuicn img{ width: 25px;}
.menuicn img {
    margin: 7px 0 0;
    width: 25px;
}
img.navlctn {
    width: 30%;
    margin-top: 5px; 
}
ion-row.header-row.row {
    margin-top: 10px;
}
.mylctiontext {
  color: #fff;
  font-size: 16px;
  margin: 5px 0;
}
#menu-overlay{
    position: fixed;
  top: 0;
  overflow: auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  z-index: 100000;
  width:100%;
  background-color: #112a3d;
  text-align: left;
}
.menumain {
  padding-top: 20px;
  text-align: left;
  width: 100%;
}
.menumain ion-item {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #fff;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}
.menumain ion-item:hover{color: #388ECB;}
.menumain ion-item .item-inner{ border-color:rgba(255,255,255,0.3) !important;}
#menu-overlay .label {
  margin: 0;
  padding: 10px 20px;
  cursor:pointer;
}
.clsicn{float: right; margin-right: 20px; margin-top: 10px;}
.clsicn img{max-width:75%;}